#subcontainer2{
    order:2; 
    flex: 5;
}
h3{
    display: inline-block;
    padding-right: 5px;
}
#status{
    display: inline;
    align-content: center;
}
.switch input {
    position: absolute;
    opacity: 0;
  }
  
  /**
   * 1. Adjust this to size
   */
  
  .switch {
    display: inline-block;
    font-size: 18px; /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
  }
  
  .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }
  
  .switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }