.subcontainer2{
  order:2; 
  flex: 5;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 10px 28px 8px  #e4e1ed;
  margin: 100px 10px 0 10px;
  height: 30%;
  padding: 0 10px;
}
h3{
  display: inline-block;
  padding-right: 5px;
}
#status{
  display: inline;
  align-content: center;
}

span{
    margin: 10px;
    font-size: 20px;
}
.switch input {
  position: absolute;
  opacity: 0;
}

.subsubcontainer1{
  display: flex;
  justify-content: space-between;
}

.subsubcontainer2{
  display: flex;
  justify-content: space-between;
}

.userip{
  padding-top: 30px;
}




#time{
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 15px;
}

#time:active{
  border-color: blue;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 18px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}