p{
    margin: 0;
}
.container1{
    height: 100vh;
    width: 80%;
    
    border-right: 2px solid black;
    
}
.container2{
    background: #f7f7f7;
    height: 90%;
    display: flex;
    border-top: 2px solid black;
}
.navbar{
    background: #f7f7f7;
    height: 10%;
}