#gsubcontainer2{
    order:2; 
    flex: 5;
    background: #f7f7f7;
}

.guardip{
    background: #ffffff;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 10px 28px 8px  #e4e1ed;
    margin: 100px 10px 0 10px;
    height: 30%;
    padding: 0 10px;
}